<config>
        <server>
                <connectiontype>tcpip</connectiontype>
                <hostname>127.0.0.1</hostname>
                <port>10015</port>
                <secret>secret</secret>
                <!-- new in 2.0! -->
                <attempts>20</attempts>
        </server>
        <component>
                 <!-- new in 2.0! -->
                 <fullname>Jogger.pl bot</fullname>
                 <name>jogger.127.0.0.1</name>
        </component>
        <mysql>
                <server>localhost</server>
                <dbname>jogger</dbname>
                <username>joggerbot</username>
                <password>pass</password>
        </mysql>
        <page>
                <lang>pl</lang>
                <rootdomain>jogger.pl</rootdomain>
                <rootsite>http://jogger.pl/</rootsite>
        </page>
        <debug>
                <level>0</level>
                <file>joggerbot.log</file>
        </debug>
</config>